.menu {
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}

.menu li {
    margin: 10px;
    color: #ccc;
    font-family: 'inter', sans-serif;
}

.menu li a {
    cursor: pointer;
}

.menu .active {
    color: #000;
}

.title {
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 20px;
}

.addBtn {
    background-color: #000;
    color: #fff;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}